/* Spacer for home page */
.spacer {
    display: block;
    height: 13vh; 
}

/* Main Body ------ HomePage */


main * {
    font-weight: var(--ftw--light);
    color: hsl(90, 28%, 90%);
}

.author_data h1, 
.short_msg {
    text-align: center;
}

main p {
    font-size: clamp(1rem, 2vw, 1.3rem);
}

.author_data h2 {
    font-size: clamp(1.7rem, 5vw, 2.3rem);
}

p:last-of-type{
    text-indent: min(3rem, 5vw);
    margin-top: 1rem;
}

.author_data {
    margin: 0 auto 5rem;
    width: min(90%, 800px);
}

.author_data h1 {
    margin-bottom: 2rem;
    font-size: clamp(2rem, 15vw, 5rem);
}

.avatar_ctn, 
.avatar {
    display: block;
    border-radius: 15px;
    background-color: var(--primary-variant);
}


.avatar_ctn {
    width: 200px;
    margin: 5rem auto;
    padding: 0.5em;

    position: relative;

    display: block;

}

.avatar_ctn::after {
    content: "";
    width: 120%;
    
    border-radius: 50%;
    box-shadow: var(--primary-variant) 0 0 20px 10px;
    
    position: absolute;
    top: 120%;
    left: -10%;
}

