*,
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --primary-color: hsl(0, 0%, 40%);
    --primary-variant: hsl(0, 0%, 25%);

    --secondary-color: hsl(140, 88%, 52%);
    --accent-color: hsl(150, 1%, 62%);
    --accent-variant: hsl(0, 0%, 83%);

    --ftw--light: 300;
    --ftw--normal: 500;
    --ftw--bold: 700;
}

html {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

body {
    background-color: var(--primary-color);
}

img {
    max-width: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Spacer */
.spacer {
    display: block;
    height: 5rem; 
}

/* 
------------------------------
Tool Bar Styling
------------------------------
*/
/* General configuration */
header, nav {
    background-color: var(--primary-variant);
    width: 100%;
}

header {
    position: fixed;
    z-index: 100;
}

.nav-checkbox {
    display: none;
}

/* Nav container with links */
nav {  
    position: absolute;
    left: 0;
    top: 100%;

    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 350ms ease-in-out;

    font-size: 0.9rem;
}

/* Mobile Toggle Label creation and styling*/
.nav-menu-label {
    height: 2.4em;
    width: 2em;
    margin-left: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    
}

.nav-menu-label span,
.nav-menu-label span::before,
.nav-menu-label span::after {
    background-color: white;
    border-radius: 2px;
    display: block;
    position: relative;
    height: 2px;
    width: 2em;
}


.nav-menu-label span::before,
.nav-menu-label span::after {
    content: "";
    position: absolute;
}

.nav-menu-label span::before {
    bottom: 7px;
}

.nav-menu-label span::after {
    top: 7px;
}

.nav-menu-label:checked ~ .nav-menu {
    transform: scale(1, 1);
}

/* Styling individual links containers and links */
.menu-item {
    width: 100%;
    padding: 0.7em 1em;
    margin-bottom: 1em;
    letter-spacing: 0.125em;
    
    color: var(--accent-variant);  
    display: block;
    position: relative;
 
    opacity: 0;
    transition: opacity 150ms ease-in-out;

}

.menu-item::before {
    content: "";

    width: 25%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--secondary-color);
    
    position: absolute;
    bottom: 5px;

    transform: scale(0);
    transition: transform 180ms ease-in-out;
    transform-origin: 100% 50%;
    
}

/* When active or hover */
.menu-item:focus, 
.menu-item:hover, 
.menu-item.active{
    color: var(--secondary-color);
}

.menu-item:hover::before, 
.active.menu-item::before, 
.menu-item:focus::before{
    transform: scale(1);
    transform-origin: 0 50%;
}

/* Nav Container animation settings when checked*/
.nav-checkbox:checked ~ nav {
    transform: scale(1, 1);
}

.nav-checkbox:checked ~ nav .menu-item {
    opacity: 1;
    transition: opacity 150ms ease-in-out 450ms;
}


/* Animation keyframe */
@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0.5;
    }

    50% {
        border-radius: 50%;
    }


    100% {
        border-radius: 0%;
        transform:translateY(-100vh) rotate(360deg);
        opacity: 0;
    }
}


/* Nav bar normal screen settings */
@media (min-width:500px) {
    
    .nav-menu-wrapper {
        max-width: 750px;
        margin: 0 auto;
    }

    .nav-menu-label {
        display: none;
    }

    nav {
        position: static;
        transform: none;    
    }


    .menu-item {
        opacity: 1;
        margin: 0;
    }

    .nav-menu {
        display: flex;
        justify-content: space-evenly;
    }

    .menu-item::before{
        width: 100%;
        left: 0;
    }
}



/* Footer */
footer {
    position: fixed;
    bottom: 0;
    padding: 0.3em 0em 0.5em;
    width: 100%;
    background-color: var(--primary-color);
}

#social_links {
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: clamp(2rem, 5vw, 5rem);
}


.social_link i {
    color: hsla(0, 0%, 100%, 0.7);
    font-size: clamp(1.3rem, 2vw, 2rem);
    transition: 0.2s color ;
}

.social_link i:hover {
    color:var(--secondary-color);;  
}

@media (min-width: 750px) {
    .toolbar {
        gap: 2.0em;
    }
}


/* Animation */
.animation_box { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
}

.animation_item {
    position: absolute;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
}

.animation_item:nth-child(1) {
    bottom: -100px;
    left: 10%;
    width: 40px;
    height: 40px;
    animation-delay: 1.2s;
}

.animation_item:nth-child(2) {
    bottom: -100px;
    left: 20%;
    width: 90px;
    height: 90px;
    animation-delay: 6s;
}

.animation_item:nth-child(3) {
    bottom: -100px;
    left: 40%;
    width: 40px;
    height: 40px;
    animation-delay: 10s;
}

.animation_item:nth-child(4) {
    bottom: -100px;
    left: 60%;
    width: 100px;
    height: 100px;
    animation-delay: 3s;
}

.animation_item:nth-child(5) {
    bottom: -100px;
    left: 80%;
    width: 35px;
    height: 35px;
    animation-delay: 7s;
}


@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0.5;
    }

    50% {
        border-radius: 50%;
    }


    100% {
        border-radius: 0%;
        transform:translateY(-100vh) rotate(360deg);
        opacity: 0;
    }
}
