*,
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --secondary-color: hsl(89, 100%, 59%);
}



html {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}


body {
    background-color: hsl(0, 0%, 40%);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


/* Spacer */
.spacer {
    display: block;
    height: 13vh; 
}

/* 
------------------------------
Tool Bar Styling
------------------------------
*/
.toolbar_container{
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 6px 19px -1px rgba(0, 0, 0, 0.75);
    z-index: 100;
}

.toolbar {
    

    display: flex;
    flex-flow: row nowrap;
    background-color: hsl(0, 1%, 23%);
    
    justify-content: center;

    font-size: 1rem;
    gap: 0.2em;
    
}

.toolbar_item {
    cursor: pointer;
    position: relative;
    padding: 1em;
    color: whitesmoke;
    font-weight: 500;
}

.toolbar_item::after {
    content: "";
    width: 100%;
    height: 0.3em;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 15px;
    visibility: hidden;
}

.toolbar_item:active {
    color: var(--secondary-color);
}

.toolbar_item:hover {
    color: var(--secondary-color);
}

.toolbar_item:hover::after{
    visibility: visible;
}

.active , .active.toolbar_item::after{
    color: var(--secondary-color);
    visibility: visible;
}

/* Wrapper */
.wrapper {    
    height: 100vh;
    width: 100vw;
    position: fixed;
    padding: 0 1.5rem;
}

/* Listing projects */
.project_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2.1rem;

    max-width: 750px;
    margin: 0 auto 3em;
    padding: 1em;

    position: relative;
    z-index: 2;
}


.project_list > li {

    width: 150px;
    height: 200px;

    border-radius: 8px;
    overflow: hidden;

    background-color: hsl(0, 0%, 75%);
    box-shadow: 0px 6px 19px -1px rgba(0, 0, 0, 0.5);

    transition: transform 0.3s ease-in-out, 
                font-size 0.2s ease-in-out, 
                background-color 0.2s ease-in-out;
    
    color: hsl(0, 0%, 15%);
}


/* Scale container animation */
.project_list > li:hover {
    transform: scale(1.1);
    font-size: 1.1rem;
    color: hsl(0, 0%, 22%);
    background-color: hsl(0, 0%, 90%);;
} 

.project_link {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 0.5em;
    padding: 1em 0.5em;

    color: inherit
}



.project_link h3 , i{
    text-align: center;
}

.project_link i {
    font-size: 1.7em;
}



/* Gear Icon Animation */
.project_link i {
    animation: rotate 2.5s linear infinite;
    animation-play-state: paused;
}

.project_link:hover i {
    animation-play-state: running;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Footer */
footer {
    position: fixed;
    bottom: 0;
    padding: 0.2em 0rem;
    width: 100%;
    background-color: hsl(0, 0%, 40%);
    z-index: 100;
}

#social_links {
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: clamp(2rem, 5vw, 5rem);
}


.social_link i {
    color: hsla(0, 0%, 100%, 0.7);
    font-size: clamp(1.3rem, 2vw, 2rem);
    transition: 0.2s color ;
}

.social_link i:hover {
    color:var(--secondary-color);;  
}


/* Animation */
.animation_box { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
}

.animation_item {
    position: absolute;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
}

.animation_item:nth-child(1) {
    bottom: -100px;
    left: 10%;
    width: 40px;
    height: 40px;
    animation-delay: 1.2s;
}

.animation_item:nth-child(2) {
    bottom: -100px;
    left: 20%;
    width: 90px;
    height: 90px;
    animation-delay: 6s;
}

.animation_item:nth-child(3) {
    bottom: -100px;
    left: 40%;
    width: 40px;
    height: 40px;
    animation-delay: 10s;
}

.animation_item:nth-child(4) {
    bottom: -100px;
    left: 60%;
    width: 100px;
    height: 100px;
    animation-delay: 3s;
}

.animation_item:nth-child(5) {
    bottom: -100px;
    left: 80%;
    width: 35px;
    height: 35px;
    animation-delay: 7s;
}


@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0.5;
    }

    50% {
        border-radius: 50%;
    }


    100% {
        border-radius: 0%;
        transform:translateY(-100vh) rotate(360deg);
        opacity: 0;
    }
}