{% extends 'base/base.html' %}
{% load static %}

{% block title %} About_Me | Know me more {% endblock%}

{% block css %}
    <link rel="stylesheet" href="{% static 'resume/resume.css' %}">
{% endblock%}

{% block body %}
<main>

    <div class="spacer"></div>
        
    <article>
        <section class="contact">
            <h2>Contact Data</h2>
            <ul>
                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    {{ general.location }}
                </li>
                <li>
                    <i class="fas fa-envelope-open-text"></i>
                    {{ general.email}}
                </li>
            </ul>
        </section>

        <section class="objective">
            <h2>My Objective</h2>
            <p>{{ general.objective }}</p>
        </section>

        <section class="skills">           
            <h2>Technical Knowledge</h2>    
            <ul class="technical_skills">
                    {% for skill in skills %}
                        {% if skill.skill_type == "TECHNICAL_SKILL" %}
                            <li class="skill skill_ctn">
                                {{ skill.name}}
                                <i class="{{ skill.icon }}"></i>
                            </li>
                        {% endif%}
                    {% endfor %}    
                </ul>
            
        </section>

        <section class="skills">
            <h2>Soft Skills</h2>     
            <ul class="soft_skills">
                {% for skill in skills%}
                    {% if skill.skill_type == "SOFT_SKILL" %}
                        <li class="skill skill_ctn">
                            <i class="fas fa-angle-double-right"></i>
                            <p>{{skill.name}}</p>
                        </li>
                    {% endif %}
                {% endfor%}
            </ul>
        </section>

        <section class="education">
            <h2>Education So Far</h2>
            <ul>
                {% for school in schools %}
                    <li>
                        <div>
                            <h3>{{ school.name }}</h3>
                            <p>{{ school.location}}</p>
                        </div>
                        <p class="res_title">{{ school.degree }}</p>
                        <p class="grad_date">{{ school.graduation_date}}</p>
                    </li>
                {% endfor %}    
            </ul>
        </section>
        
    </article>

</main>
{% endblock %}